<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
    <parameter name="url" value="www.LoanDepartment.com"/>
    <test verbose="2" preserve-order="true" name="Personal">
        <parameter name="URL" value="www.PersonalLoanl.com"/>
        <classes>
            <class name="TestNG.Test1.Demo"/>
            <class name="TestNG.Test1.Demo2"/>
            <class name="TestNG.Test1.Demo4"/>
        </classes>
    </test>
    
    <test name="Car Loan">
        <parameter name="URL" value="www.CarLoan.com"/>
        <classes>
            <class name="TestNG.Test1.Demo3"/>
        </classes>
    </test>
</suite>